
@model MovieListings;

<div>
    <button onclick="location.href = '@Url.Action("NewListingPage", "MovieListing")';return false;">New Listing</button>
    
</div>
<div class="text-center">
    <h3>Movie Listingssssssss</h3>
    <ul>
        @{ foreach (var movie in Model.Listings)
            {
                <li id="@movie.Id" class="movie-info-item">
                    <label onclick="window.location.href(@Url.Action("MovieInfo", "MovieListing")">
                        @movie.Title
                    </label>
                    
                    <a href="/MovieListing/MovieInfo?id=@movie.Id" >@movie.Title</a>
                </li>
            }
        }

    </ul>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>